{% extends "base.html" %}

{% block content %}
<div class="main-content" >
<div class="fourcol column last">
      <h1>Sign In</h1>
      <form class="ajax-form formatted-form" action="https://demo.themex.co/academy/wp-admin/admin-ajax.php" method="POST">
         <div class="message"></div>
         <div class="field-wrapper">
            <input type="text" name="user_login" value="Demo" />
         </div>
         <div class="field-wrapper">
            <input type="password" name="user_password" value="Demo" />
         </div>
         <a href="#" class="button submit-button left"><span class="button-icon login"></span>Sign In</a>
         <a href="#" class="button submit-button left"><span class="button-icon register"></span>Register</a>
         <div class="form-loader"></div>
         <input type="hidden" name="user_action" value="login_user" />
         <input type="hidden" name="user_redirect" value="" />
         <input type="hidden" name="nonce" class="nonce" value="243d9224f0" />
         <input type="hidden" name="action" class="action" value="themex_update_user" />
      </form>
   </div>
   <div class="clear"></div>
</div>
</div>
{% endblock content %}