{% extends "base3.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="slider-new">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="menu-new hidden-xs">
              <ul class="menu">
                 {% for s in subjects %}
                     <li>
                        <a href="">{{s.title}}{{s.title}}sssssss</a>
                        <div class="megadrop">
                           <div class="col">
                              <ul>
                                {% for t in tags %}
                                    {% if  t.subject.id == s.id%}
                                        <li>
                                            <a href="{% url 'list_course' %}">{{t.tag}}</a>
                                         </li>
                                    {% endif %}
                                {% endfor %}
                              </ul>
                           </div>
                        </div>
                     </li>
                 {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="unica-learn-today">
                <h4>Hôm nay bạn muốn học gì ?</h4>
                <ul class="unica-lt-box">
                    {% for s in subjects %}
                     <li>
                        <a href="" class="u-tags-mini">
                            <p> <i class="fa fa fa-language" aria-hidden="true"></i> {{s.title}}</p>
                        </a>
                    </li>
                 {% endfor %}
                    
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}