{% extends "base.html" %}

{% block content %}
<div class="container-fluid bg-br-2">
   <div class="container">
      <ol class="breadcrumb">
         <li><a href="{% url 'home-view' %}">Trang chủ</a></li>
         {# <li class="active">Marketing</li> #}
      </ol>
   </div>
</div>
<div class="container-fluid bg-br" style="padding:15px 0">
   <div class="container">
      <div class="row">
         <div class="col-lg-3 col-md-3 col-sm-4 u-list-leftbar hidden-xs ">
            <section>
               <div class="u-cate-list">
                  <p style="font-size: 16px;font-weight: bold;border-bottom: 1px solid #d7d7d7;margin-bottom: 10px;padding-bottom: 5px;">Danh mục khóa học</p>
                  <ul>
	                {% for s in menu_subjects %}
   						<li>
   							<a title="{{s.title}}" aria-hidden="true" href=""></i> {{s.title}}</a>
   						</li>
	                {% endfor %}
                  </ul>
               </div>
            </section>
         </div>
         <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 main-content" style="">
            <div class="u-all-course">
               <h1 style="font-size: 20px;font-family: inherit;line-height: 1.1;color: inherit;margin-top: 0px;">Khóa học </h1>
               <h3>
                  Tất cả [ <span class="p-or">{{count}}</span> 
                  <p> khóa học</p>
                  ]
               </h3>
               <style>
                  .box-teacher .slick-next:before,.box-teacher .slick-prev:before{color: #F37E65 !important;}
               </style>
               <button type="button" class="btn btn-info btn-lg btn-popup-recomend hidden" data-toggle="modal" data-target="#popupRecomend"></button>
               {# Vi tri cua popup.html ^^ #}
               <script type="text/javascript">
                  $(document).ready(function () {
                      var recomend = 0;
                      $(document).mouseleave(function () {
                          if(recomend == 0){
                              $('.btn-popup-recomend').click();
                              $('.slick-next').click();
                              $('.slick-prev').click();
                              recomend++;
                          }
                      });
                  });
               </script>
               <section>
                  <div class="u-hot-cate" style="border: none;padding: 0px 0px;">
                     <ul>
                        {% for tag_i in tags %}
                        <li><a href="{% url 'list_course_tag' tag_i.id %}"><span class="label label-primary">{{tag_i.tag}}</span></a></li>
                        {% endfor %}
                     </ul>
                  </div>
               </section>
               <br>
               <section>
                  <ul>
                   {% for c in courses %}
                     <li>
                       	<div class="box-pop ">
                           <a href="{% url 'show_course' c.id %}" class="course-box-slider pop" data-placement="left" data-toggle="popover" data-container="body" data-html="true" data-original-title="" title="">
                              <div class="img-course">
                                 <img style="max-height:110px;width:100%;"  class="img-responsive " src="{{c.image.url}}" alt="">
                              </div>
                              <div class="content-course">
                                 <h3 class="title-course" style="font-size:15px;overflow: hidden;margin-top: 8px;height: 44px;"><span >{{c.title}}</span></h3>
                                 <div class="name-gv">
                                    <b>
                                    {{c.own_teacher.fullname}}</b>
                                 </div>
                                 <div class="rate-course" style="display: inline-block;" itemscope >
                                    <span class="star-rate">
                                    {% for x in '01234' %}
                                       {% if x < c.rate|slugify %}
                                         <i class="fa fa-star co-or" aria-hidden="true"></i>
                                       {% else %}
                                         <i class="fa fa-star-o co-or" aria-hidden="true"></i>
                                       {% endif %}
                                    {% endfor %}
                                    </span>
                                    <span class="n-rate">(<span >{{c.rate_student}}</span>)</span>                
                                 </div>
                              </div>
                              <div class="price-course ">
                                 <span class="price-a" value="{{c.value_new}}"><sup></sup></span>
                                 <span class="price-b"><sup></sup></span>
                              </div>
                           </a>
                           <div id="popover-content" class="pop-course hide">
                              <div class="title-pop-course">{{c.title}}</div>
                              <div class="cate-course"></div>
                              <div class="time-course">
                                 <ul>
                                    <li><i class="fa fa-list-alt" aria-hidden="true"></i> {{c.module_nums}} bài giảng</li>
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> {{c.learn_times}}  phút</li>
                                 </ul>
                              </div>
                              <div class="avatar-gv">
                                 <span><b>{{c.own_teacher.fullname}}</b></span>
                              </div>
                              <div class="des-gv-pop">{{c.tag.tag}}</div>
                              <div class="des-course">
                                 {{c.description}}           
                              </div>
                           </div>
                        </div>
                     </li>
                     {% endfor %}
                  </ul>
               </section>
            </div>
            <div class="u-number-page">
               <ul class="pagination">
               </ul>
            </div>
            
         </div>
      </div>
   </div>
</div>
{% endblock content %}