{% extends "base.html" %}

{% block content %}
   <main style="margin-top: 42px;">
      <div class="popup_success"></div>
      <div class="u-course-highlight">
         <div class="container">
            <div class="breadcumb-detail-course">
               <a href="{% url 'home-view' %}" >Trang chủ</a> <i class="fa fa-angle-double-right"></i>
               {{course.title}}        
            </div>
            <div class="u-detail-block-title">
               <h1 itemprop="itemReviewed">
                  <span itemprop="name">{{course.title}} </span>
               </h1>
               <div class="u-detail-desc" itemprop="description">
                  {{course.description}}
               </div>
               <div class="u-detail-tea" itemprop="author">
                  <img class="picture-teacher-circle" src="{{course.own_teacher.image.url}}" align="" />
                  <a href="teacher/han-quang-du.html">  <span itemprop="name">{{course.own_teacher.fullname}} </span></a>
               </div>
               <div class="u-detail-rate">
                  
                  <span class="star-rate">
                     {% for x in '01234' %}
                        {% if x < rate_course %}
                          <i class="fa fa-star co-or" aria-hidden="true"></i>
                        {% else %}
                          <i class="fa fa-star-o co-or" aria-hidden="true"></i>
                        {% endif %}
                     {% endfor %}
                  </span>
                  <span>{{course.rate_student}}</span>
                  đánh giá
               </div>
               <div class="u-detail-students">
                  <span>
                  <i class="fa fa-users" aria-hidden="true"></i> {{course.students}}  học viên</span>
               </div>
               <div class="favorite_des">
               </div>
            </div>
         </div>
      </div>
      <div class="u-detail-course">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <input type="hidden"  class="form-control" name="video_ins" value="{{course.video_ins}}">
                  <div class="u-detail-block-left">
                     <div class="u-video">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item img-responsive" src="{{course.video_ins}}" width="100%" height="auto" scrolling="no" frameborder="0" allowfullscreen="">
                           </iframe>
                        </div>
                     </div>
                     <div class="tab-detail hidden-xs">
                        <ul>
                           <li><a href="#u-des-course">Giới thiệu</a></li>
                           <li><a href="#u-list-course">Nội dung khóa học</a></li>
                        </ul>
                     </div>
                     <div class="u-learn-what">
                        <h3>Bạn sẽ học được gì</h3>
                        <div class="content">
                           <div class="row">
                              {{course.you_need_know}}
                           </div>
                        </div>
                     </div>
                     <div class="u-des-course" id="u-des-course">
                        <h2>Giới thiệu khóa học</h2>
                        {{course.overview}}
                     </div>
                     <div class="u-list-course" id="u-list-course">
                        <h2>Danh sách nội dung khóa học</h2>
                        <div class="content">
                           <div class="panel-group" id="accordion">
                              <div class="panel panel-default">
                                 <!-- phần -->
            {% for m in modules %}
               {% if  m.module_level == 0 %}
                  <div class="panel-heading">
                     <div class="row">
                        <div class="col-md-8">
                           <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{m.id}}" class="" aria-expanded="true">
                              <i class="fa fa-minus-square" aria-hidden="true"></i>
                              {{ m.title }}
                              </a>
                           </h4>
                        </div>
                        <div class="col-md-4">
                        </div>
                     </div>
                  </div>
                        <div id="#collapse{{m.id}}" class="panel-collapse collapse in " aria-expanded="true">
                  {% for n in modules %}
                     {% if n.module_level == m.id %}
                           <div class="panel-body">
                              <div class="col">
                                 <div class="container-fluid">
                                    <div class="row">
                                       <div class="col-xs-5 col-md-8">
                                          <div class="title">
                                             <a>
                                             <i class="fa fa-play-circle" aria-hidden="true"></i>
                                             {{n.description}}
                                             </a>
                                          </div>
                                       </div>
                                       <div class="col-xs-5 col-md-2">
                                          <div class="link">
                                             &nbsp;
                                             {% if n.type_module == 0 %}
                                                <a class="btn-preview" href="javascript:void(0)" onclick="show_video('{{n.url}}');">Vào học</a>
                                             {% else %}
                                                <a class="btn-preview" href="javascript:void(0)" onclick="show_test({{course.id}}, {{n.id}});">Kiểm tra</a>
                                             {% endif %}
                                          </div>
                                       </div>
                                       <div class="col-xs-2 col-md-2">
                                          {% if n.type_module != 0 %}
                                             <div class="time">{{n.point}}</div>
                                          {% endif %}
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                     {% endif %}
                  {% endfor %}
                        </div>
               {% endif %}
            {% endfor %}
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                     <br/>
                  </div>
               </div>
               {# Phan phai sua. Nhung chua lam ^^ #}
               <div class="col-lg-4 col-md-4 col-sm-12 pdr-b hidden-xs">
                  <div class="u-detail-block-right" id="sidebar">
                     <div class="block-buy">
                        <div class="u-sm-left">
                           <div class="block-price">
                           </div>
                           <div class="block-btn">
                     {% if type %}
                        {% if is_enroll == '0' %}
                        <a course_id="" href="{% url 'enroll_view' course.id request.session.id %}" class="btn-buy-course">Đăng ký học</a>
                        {% else %}
                        <a course_id="" href="{% url 'enroll_view' course.id request.session.id %}" class="btn-buy-course">Hủy đăng ký học</a>
                        {% endif %}
                     {% else %}
                        <a course_id="" href="{% url 'login-view' %}" class="btn-buy-course">Đăng ký học</a>
                     {% endif %}
                              <p></p>
                           </div>
                        </div>
                        <div class="u-sm-right">
                           <div class="block-ulti">
                              <ul style="margin-left: 0">
                                 <!--
                                 <li>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> Thời lượng:
                                    <p>{{course.learn_times}} phút</p>
                                 </li>
                                 <li>
                                    <i class="fa fa-play-circle" aria-hidden="true"></i> Giáo trình:
                                    <p>{{course.module_nums}}  bài giảng</p>
                                 </li>
                              -->
                              </ul>
                              
                              <div class="clearfix"></div>
                           </div>
                           
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </main>
{% endblock content %}

{% block tag_video %}
   <div class="" id="backgroup-image"></div>

   <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;" id="video_table">
      
       <div class="modal-dialog modal-lg" style="margin-top:80px;" >
         <div><button onclick="hidePopup()" style="margin-left: 849px;height: 22px;" ><i class="fa fa-sign-out" aria-hidden="true"></i></button></div>
           <div class="modal-content">

               <div class="content_preview" style='width="900"; height="500";' id="video_tag"></div>
           </div>
       </div>
   </div>

   <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;" id="test_table"  >
       <div class="modal-dialog modal-lg" style="margin-top:80px;" >
           <div class="modal-content" >
               <div class="content_preview" style='width="900"; height="500";' >
                  <div><button onclick="hidePopupTest()" style="margin-left: 849px;height: 22px;" ><i class="fa fa-sign-out" aria-hidden="true"></i></button></div>
                  <div class="">
                     <div class="pr-test-logo">
                      <div class="pr-logo">
                         <img src="">
                      </div>
                     </div>
                     <div class="pr-a-title">
                      <h1 style="padding-top: 15px;">Bài tập tự luyện</h1>
                      <h2 class="test-page-title">Luyện tập kiến thức</h2>
                     </div>
                     <input type="hidden" id="changepage" name="changepage" value="false">
                     <form action="{% url 'mark_Couse' %}" method="POST" >
                        {% csrf_token %}
                        <div id="form_test"></div>
                        <div class="container"><button type="submit">Nộp bài</button></div>
                     </form>
                  </div>
               </div>
           </div>
       </div>
   </div>
   
{% endblock tag_video %}

{% block javascript_course %}
   <script>
      function show_video(url) {
         // url = "https://www.youtube.com/embed/7ZWRO7QGja4";
         $('#backgroup-image').addClass("modal-backdrop fade in");
         $('body').css("padding-right: 17px");
         $('body').addClass('modal-open');
         $('#video_table').addClass("modal fade bs-example-modal-lg in");
         $('#video_table').css('display','block');
         data = '<iframe width="900" height="500" src="'+url+'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
         $('#video_tag').empty().append(data);
      }
      function hidePopup() {
         $('#backgroup-image').removeClass();
         $('body').removeAttr( 'style' );
         $('body').removeClass();
         $('#video_table').removeClass();
         $('#video_table').addClass("modal fade bs-example-modal-lg");
         $('#video_table').css('display','none');
         $('.content_preview').empty()
      }

      function show_test(c_id, m_id) {
         $.ajax({
            url : "{% url 'ajax_test' %}",
            type : 'GET',
            data : {
               "c_id": c_id,
               'm_id': m_id
            },
            success : function (response) {
               data = response['x1'];
               show_xxx(data);
            },
            error: function (response) {
                alert('error ajax');
            }
         });
      }
      function show_xxx(res_data) {
         $('#backgroup-image').addClass("modal-backdrop fade in");
         $('body').css("padding-right: 17px");
         $('body').addClass('modal-open');
         $('#test_table').addClass("modal fade bs-example-modal-lg in");
         $('#test_table').css('display','block');
         data = res_data;
         $('#form_test').empty().append(data);
      }

      function hidePopupTest() {
         $('#backgroup-image').removeClass();
         $('body').removeAttr( 'style' );
         $('body').removeClass();
         $('#test_table').removeClass();
         $('#test_table').addClass("modal fade bs-example-modal-lg");
         $('#test_table').css('display','none');
         $('#form_test').empty()
      }
   </script>
{% endblock javascript_course %}