{% extends "base.html" %}

{% block content %}
{% include "guest/menubar_user.html" %}
<main>
   <div class="container">
      <style>
         .box-search-course {
         margin-bottom: 30px
         }
         .box-search-course .form-group input {
         width: 100%
         }
         .box-search-course .box-input {
         width: 89%
         }
      </style>
      <main>
         <div class="container">
            <div class="row">
               <div class="col-sm-12 col-md-12 col-lg-12" id="mycourses">
                  <div id="main-content">
                     <div class="main-inner">
                        <div class="panel panel-default">
                           <div class="panel-heading"> 
                              <span style="font-weight: bold;">
                                 <i class="fa fa-book" aria-hidden="true"></i> 
                                 Khoa hoc cua toi </span> 
                           </div>
                           <div class="panel-body">
                              <div class="tab-content">
                                 <div id="menu1" class="tab-pane fade active in">
                                    <div class="u-combo-buy">
                                       <div class="u-combo-course">
                                          <ul>
                                             {% for c in courses %}
                                               <li>
                                                <div class="u-combo-usua">
                                                   <div class="img-combo-favorited"><img class="img-responsive" src="{{c.image.url}}" alt="" /></div>
                                                   <div class="des-combo">
                                                      <a href="{% url 'full_course' c.id %}">{{c.title}}</a>
                                                      <div class="gv-combo">{{c.own_teacher.fullname}}</div>
                                                      <div class="rate-combo">
                                                         <p>Đánh giá: {{c.rate_student}}</p>
                                                         <span><i class="fa fa-users" aria-hidden="true"></i> {{c.students}} học viên</span>
                                                      </div>
                                                      <div class="gv-combo">
                                                        <a href="{% url 'del_c_view' c.id %}">Xoa course</a>
                                                      </div>
                                                   </div>
                                                   <div class="price-combo">
                                                      <div class="price-combo-a">{{c.value_old}}<sup>đ</sup></div>
                                                      <div class="price-combo-b">{{c.value_new}}<sup>đ</sup></div>
                                                      <div class="price-combo-c">(-25%)</div>
                                                   </div>
                                                </div>
                                             </li>
                                             {% endfor %}
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>
      <script>
         $(window).on('load', function () {
             $('#modalNotification').modal('show');
         });
         
         function reActive(id) {
             $.ajax({
                 type: 'POST',
                 url: '/membership/courseactive',
                 data: {id: id},
                 success: function (result) {
                     console.log(result);
                     if (result.success) {
                         location.reload();
                     } else {
                         $('#showModalErrors').modal('show')
                         $('#noti_error').html(result.message);
                     }
                 }
             });
         }
      </script>
   </div>
</main>
{% endblock content %}