{% extends "base.html" %}
{% block content %}
<main style="margin-top: 42px;">
   <div class="popup_success"></div>
   <div class="u-course-highlight">
      <div class="container">
<form action="{% url 'full_course' course.id %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}

         <div class="breadcumb-detail-course">
            <a href="{% url 'home-view' %}" >Trang chủ</a> <i class="fa fa-angle-double-right"></i>
            <a href="course/marketing.html">Marketing</a> <i class="fa fa-angle-double-right"></i>
            {{course.title}}        
         </div>
         <div class="u-detail-block-title">
            <h1 itemprop="itemReviewed">
               <span itemprop="name">{{course.title}} </span>
            </h1>
            <div class="u-detail-desc" itemprop="description">
               <textarea name="description"  cols="30"  class="form-control">{{course.description}}</textarea>
            </div>
            <div class="u-detail-tea" itemprop="author">
               <img class="picture-teacher-circle" src="{{course.image.url}}" align="" />
               <a href="teacher/han-quang-du.html">  <span itemprop="name">{{course.own_teacher.fullname}} </span></a>
            </div>
            <div class="u-detail-rate">
               <span class="star-rate">
               <i class="fa fa-star co-or" aria-hidden="true"></i>
               <i class="fa fa-star co-or" aria-hidden="true"></i>
               <i class="fa fa-star co-or" aria-hidden="true"></i>
               <i class="fa fa-star co-or" aria-hidden="true"></i>
               <i class="fa fa-star-o co-or" aria-hidden="true"></i>
               </span>
               <span>{{course.rate_student}}</span>
               đánh giá
            </div>
            <div class="u-detail-students">
               <span>
               <i class="fa fa-users" aria-hidden="true"></i> {{course.students}}  học viên</span>
            </div>
            <div class="favorite_des">
            </div>
         </div>
      </div>
   </div>
   <div class="u-detail-course">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
               <input type="text"  class="form-control" name="video_ins" value="{{course.video_ins}}">
               <div class="u-detail-block-left">
                  <div class="u-video">
                     <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item img-responsive" src="{{course.video_ins}}" width="100%" height="auto" scrolling="no" frameborder="0" allowfullscreen="">
                        </iframe>
                     </div>
                  </div>
                  <div class="tab-detail hidden-xs">
                     <ul>
                        <li><a href="#u-des-course">Giới thiệu</a></li>
                        <li><a href="#u-list-course">Nội dung khóa học</a></li>
                     </ul>
                  </div>
                  <div class="u-learn-what">
                     <h3>Bạn sẽ học được gì</h3>
                     <div class="content">
                        <div class="row">
                           <textarea name="you_need_know" cols="30" rows="20" class="form-control">{{course.you_need_know}}</textarea>
                        </div>
                     </div>
                  </div>
                  <div class="u-des-course" id="u-des-course">
                     <h2>Giới thiệu khóa học</h2>
                     <textarea name="overview" cols="30" rows="20" class="form-control">{{course.overview}}</textarea>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-success"><i class="fa fa-update"></i> Update</button>
                 </div>
</form>
                  <div class="u-list-course" id="u-list-course">
                     <h2>Tạo Module</h2>
                     <div class="content">
                        <div class="panel-group" id="accordion1">
                           <div class="panel panel-default">
                              {% if lv0 %}
                              <form action="{% url 'update_m_view' lv_module.id %}" method="post" enctype="multipart/form-data">
                              {% else %}
                              <form action="{% url 'full_course' course.id %}" method="post" enctype="multipart/form-data">
                              {% endif %}
                              	{% csrf_token %}
                                 <div class="form-group">
                                    <div class="form-group field-muser-address">
                                       <br>
                                       <label>Tạo nội dung phần học</label>
                                       {% if lv0 %}
                                       <input type="text"  class="form-control" name="module_lv0" value="{{lv_module.title}}">
                                       {% else %}
                                       <input type="text"  class="form-control" name="module_lv0" value="">
                                       {% endif %}
                                       <p class="help-block help-block-error"></p>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    {% if lv0 %}
                                    <button class="btn btn-success"><i class="fa fa-save"></i> Cập nhật  </button>
                                    {% else %}
                                    <button class="btn btn-success"><i class="fa fa-save"></i> Thêm mới </button>
                                    {% endif %}
                                 </div>
                              </form>
                              {% if lv1 %}
                              <form action="{% url 'update_m_view' lv_module.id %}" method="post" enctype="multipart/form-data">
                              {% else %}
                              <form action="{% url 'full_course' course.id %}" method="post" enctype="multipart/form-data">
                              {% endif %}
                              	{% csrf_token %}
                                 <div class="form-group">
                                    <div class="form-group field-muser-address">
                                       {% if lv1 %}
                                       <label>Sửa tên bài học  </label>
                                       <input type="text" class="form-control" name="module_lv1" value="{{lv_module.description}}">
                                       {% else %}
                                       <label>Tạo tên bài học  </label>
                                       <input type="text" class="form-control" name="module_lv1" value="">
                                       {% endif %}
                                       <p class="help-block help-block-error"></p>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <div class="form-group field-muser-address">
                                       {% if lv1 %}
                                       <label>Sửa link bài học  </label>
                                       <input type="text" class="form-control" name="url" value="{{lv_module.url}}" allowfullscreen></iframe>">
                                       {% else %}
                                       <label>Thêm link video bài học  </label>
                                       <input type="text" class="form-control" name="url" value="" placeholder="VD: https://www.youtube.com/embed/OGv9RgWSzOY?list=RDUCtriLUQ_ZI" >
                                       {% endif %}
                                       <p class="help-block help-block-error"></p>
                                    </div>
                                 </div>
                                 <div class="form-group field-muser-city">
                                    <select id="muser-city" class="form-control" name="par_module">
                                       <option value="">Chọn phần học cho bài học</option>
                                    	{% for m in modules %}
                                    		{% if  m.module_level == 0 %}
                                             {% if m.id == lv_module.module_level %}
                                                <option value="{{m.id}}" selected>{{m.title}}</option>
                                             {% else %}
                                       		   <option value="{{m.id}}">{{m.title}}</option>
                                             {% endif %}
                                    		{% endif %}
                                    	{% endfor %}
                                    </select>
                                 </div>
                                 <div class="form-group">
                                    {% if lv1 %}
                                    <button class="btn btn-success"><i class="fa fa-save"></i> Cập nhật </button>
                                    {% else %}
                                    <button class="btn btn-success"><i class="fa fa-save"></i> Thêm mới </button>
                                    {% endif %}
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="u-list-course" id="u-list-course">
                     <h2>Danh sách nội dung khóa học</h2>
                     <div class="content">
                        <div class="panel-group" id="accordion">
                           <div class="panel panel-default">
                              <!-- phần -->
            {% for m in modules %}
            	{% if  m.module_level == 0 %}
         			<div class="panel-heading">
						   <div class="row">
						      <div class="col-md-8">
						         <h4 class="panel-title">
						            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{m.id}}" class="" aria-expanded="true">
						            <i class="fa fa-minus-square" aria-hidden="true"></i>
						            {{ m.title }}
						            </a>
						         </h4>
						      </div>
                        <div class="col-md-4">
                           <div class="link" style="padding-left: 7px;" >
                              <a class="btn-preview" href="{% url 'edit_m_view' m.id %}" >Edit</a>
                              <a class="btn-preview" href="{% url 'del_m_view' m.id %}" >Delete</a>
                           </div>
                        </div>
						   </div>
						</div>
                        <div id="#collapse{{m.id}}" class="panel-collapse collapse in " aria-expanded="true">
                  {% for n in modules %}
                     {% if n.module_level == m.id %}
                           <div class="panel-body">
                              <div class="col">
                                 <div class="container-fluid">
                                    <div class="row">
                                       <div class="col-xs-5 col-md-8">
                                          <div class="title">
                                             <a>
                                             <i class="fa fa-play-circle" aria-hidden="true"></i>
                                             {{n.description}}
                                             </a>
                                          </div>
                                       </div>
                                       <div class="col-xs-5 col-md-3">
                                          <div class="link">
                                             &nbsp;
                                             <a class="btn-preview" href="{% url 'edit_m_view' n.id %}" >Edit</a>
                                             <a class="btn-preview" href="{% url 'del_m_view' n.id %}" >Delete</a>
                                          </div>
                                       </div>
                                       <div class="col-xs-2 col-md-1">
                                          <div class="time">00:00:00</div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                     {% endif %}
                  {% endfor %}
                        </div>
         		{% endif %}
            {% endfor %}
                     </div>
                        </div>
                     </div>
                  </div>
                  <div class="clearfix"></div>
                  <br/>
               </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 pdr-b hidden-xs">
               <div class="u-detail-block-right" id="sidebar">
                 
                  <div class="block-buy">
                     <div class="u-sm-left">
                        <div class="block-price">
                           <span class="big-price">199,000<sup>đ</sup></span>
                           <span class="small-price">600,000<sup>đ</sup></span>
                           <span class="discount-price" data-percent="67">-67%</span>
                        </div>
                        <div class="time-uudai"><i class="fa fa-tachometer" aria-hidden="true"></i> Thời gian ưu đãi còn 1 ngày</div>
                     </div>
                     <div class="u-sm-right">
                        <div class="block-ulti">
                           <ul style="margin-left: 0">
                              <li>
                                 <i class="fa fa-clock-o" aria-hidden="true"></i> Thời lượng:
                                 <p>02 giờ 34 phút</p>
                              </li>
                              <li>
                                 <i class="fa fa-play-circle" aria-hidden="true"></i> Giáo trình:
                                 <p>16 bài giảng</p>
                              </li>
                              <li><i class="fa fa-history" aria-hidden="true"></i> Sở hữu khóa học trọn đời</li>
                              <li><i class="fa fa-certificate" aria-hidden="true"></i> Cấp chứng nhận hoàn thành</li>
                              <li><i class="fa fa-percent" aria-hidden="true"></i>Giảm thêm <b>10%</b> khi thanh toán online</li>
                           </ul>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>
{% endblock content %}